all:
  children:
      ${sid}:
        iscsi:
          hosts:
    %{~ for ip_iscsi in ips_iscsi }
            ${ip_iscsi}:
              ansible_connection:  "ssh"
              ansible_host:  ${ip_iscsi}
    %{~ if iscsi.authentication.type == "key" }
              ansible_user:        "${iscsi.authentication.username}"
    %{~ endif }
    %{~ if iscsi.authentication.type == "password" }
              ansible_user:        "${iscsi.authentication.username}"
              ansible_ssh_pass:    "${iscsi.authentication.password}"
              ansible_become_pass: "${iscsi.authentication.password}"
    %{~ endif }
    %{~ endfor }
        DB:
          hosts:
%{~ for idx,ip_dbnode_admin in ips_dbnodes_admin }
%{~ if dbnodes[idx].platform == "HANA" }
            ${dbnodes[idx].name}:
              ansible_connection:  "ssh"
              ansible_host:  ${ip_dbnode_admin}
%{~ if dbnodes[idx].authentication.type == "key" }
              ansible_user:        "${dbnodes[idx].authentication.username}"
%{~ endif }
%{~ if dbnodes[idx].authentication.type == "password" }
              ansible_user:        "${dbnodes[idx].authentication.username}"
              ansible_ssh_pass:    "${dbnodes[idx].authentication.password}"
              ansible_become_pass: "${dbnodes[idx].authentication.password}"
%{~ endif }
          vars:
            tier: hdb
%{~ endif }
%{~ endfor }
%{~ for idx, ips_anydbnode in ips_anydbnodes }
%{~ if anydbnodes[idx].platform == "ASE" }
            ${anydbnodes[idx].name}:
              ansible_connection:  "ssh"
              ansible_host:  ${ips_anydbnode}
%{~ if anydbnodes[idx].authentication.type == "key" }
              ansible_user:        "${anydbnodes[idx].authentication.username}"
%{~ endif }
%{~ if anydbnodes[idx].authentication.type == "password" }
              ansible_user:        "${anydbnodes[idx].authentication.username}"
              ansible_ssh_pass:    "${anydbnodes[idx].authentication.password}"
              ansible_become_pass: "${anydbnodes[idx].authentication.password}"
%{~ endif }
          vars:
            tier: ase
%{~ endif }
%{~ endfor }
%{~ for ips_anydbnode in ips_anydbnodes }
%{~ if anydbnodes[idx].platform == "DB2" }
          hosts:
            ${anydbnodes[idx].name}:
              ansible_connection:  "ssh"
              ansible_host:  ${ips_anydbnode}
%{~ if anydbnodes[idx].authentication.type == "key" }
              ansible_user:        "${anydbnodes[idx].authentication.username}"
%{~ endif }
%{~ if anydbnodes[idx].authentication.type == "password" }
              ansible_user:        "${anydbnodes[idx].authentication.username}"
              ansible_ssh_pass:    "${anydbnodes[idx].authentication.password}"
              ansible_become_pass: "${anydbnodes[idx].authentication.password}"
%{~ endif }
          vars:
            tier: db2
%{~ endif }
%{~ endfor }
%{~ for idx, ips_anydbnode in ips_anydbnodes }
%{~ if anydbnodes[idx].platform == "ORACLE" }
            ${anydbnodes[idx].name}:
              ansible_connection:  "ssh"
              ansible_host:  ${ips_anydbnode}
%{~ if anydbnodes[idx].authentication.type == "key" }
              ansible_user:        "${anydbnodes[idx].authentication.username}"
%{~ endif }
%{~ if anydbnodes[idx].authentication.type == "password" }
              ansible_user:        "${anydbnodes[idx].authentication.username}"
              ansible_ssh_pass:    "${anydbnodes[idx].authentication.password}"
              ansible_become_pass: "${anydbnodes[idx].authentication.password}"
%{~ endif }
          vars:
            tier: oracle
%{~ endif }
%{~ endfor }
%{~ for idx, ips_anydbnode in ips_anydbnodes }
%{~ if anydbnodes[idx].platform == "SQLSERVER" }
          hosts:
            ${anydbnodes[idx].name}:
              ansible_connection:  "winrm"
              ansible_host:  ${ips_anydbnode}
%{~ if anydbnodes[idx].authentication.type == "password" }
              ansible_user:        "${anydbnodes[idx].authentication.username}"
              ansible_ssh_pass:    "${anydbnodes[idx].authentication.password}"
              ansible_become_pass: "${anydbnodes[idx].authentication.password}"
%{~ endif }
          vars:
            tier: sqlserver
%{~ endif }
%{~ endfor }
      SCS:
        hosts:
  %{~ for idx,ip_scs in ips_scs }
          ${scsservers[idx]}:
            ansible_connection: "ssh"
            ansible_host: ${ip_scs}:
            ansible_user:       "${application.authentication.username}"
  %{~ if application.authentication.type == "password" }
            ansible_ssh_pass:    "${application.authentication.password}"
            ansible_become_pass: "${application.authentication.password}"
  %{~ endif }
  %{~ endfor }
      PAS:
        hosts:
  %{~ for idx,ip_pas in ips_pas }
          ${passervers[idx]}:
            ansible_connection: "ssh"
            ansible_host: ${ip_pas}:
            ansible_user:       "${application.authentication.username}"
  %{~ if application.authentication.type == "password" }
            ansible_ssh_pass:    "${application.authentication.password}"
            ansible_become_pass: "${application.authentication.password}"
  %{~ endif }
  %{~ endfor }
      APP:
        hosts:
  %{~ for idx,ip_app in ips_app }
          ${appservers[idx]}:
            ansible_connection: "ssh"
            ansible_host: ${ip_app}:
            ansible_user:       "${application.authentication.username}"
  %{~ if application.authentication.type == "password" }
            ansible_ssh_pass:    "${application.authentication.password}"
            ansible_become_pass: "${application.authentication.password}"
  %{~ endif }
  %{~ endfor }
      WEB:
        hosts:
  %{~ for idx,ip_web in ips_web }
          {$webservers[idx]}:
            ansible_connection: "ssh"
            ansible_host: ${ip_web}:
            ansible_user:       "${application.authentication.username}"
  %{~ if application.authentication.type == "password" }
            ansible_ssh_pass:    "${application.authentication.password}"
            ansible_become_pass: "${application.authentication.password}"
  %{~ endif }
  %{~ endfor }

